<!DOCTYPE html>
<html lang="en">
    <head>
        <title>About - PSI-5 Hub</title>

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="The Hub for Site-65's psychology research devision, PSI-5.">
        <meta name="og:site_name" content="About - PSI-5 Hub">
        <meta name="og:locale" content="en_GB">
        <meta name="og:locale:alternative" content="en_US">
        <meta http-equiv="content-language" content="en">

        <link rel="stylesheet" href="/css/fonts.css">
        <link rel="stylesheet" href="/css/index.css">
        <link rel="stylesheet" href="/css/about.css">

        <link rel="icon" href="/img/psi-5.png">
    </head>
    <body>
        <div class="page-content">
            <div class="top">
                <div class="logo-header">
                    <img src="/img/psi-5.png" id="large-logo" width="134px" >
                    <div class="logobox">
                        <h2>
                            SCP Foundation | Site-65
                            <br>
                            Research Division PSI-5
                        </h2>
                    </div>
                </div>
                <div class="topbar">
                    <a href="/">Home</a>
                    <a class="selected" href="/about">About</a>
                    <a href="/join">Join</a>
                </div>
            </div>
            <div class="about">
                <h1 class="slogan">
                    "studio mentis et animae"
                </h1>
                <p>Psychology is the study of the mind and soul.</p>
                <p>In Research Division PSI-5 we study sentient and intelligent SCPs, diving into the minds and souls of anomalous entities.</p>
                <p>We aim to grasp a better understanding of entities with a mind of their own. If it demonstrates higher intelligence, then it falls under our responsibility. By better understanding these sentient entities we are able to understand their motives and with that we can manipulate them, potentially into our favor.</p>
                <p>We have the largest collection of primary SCPs out of any division that operates in Site-65, such as SCP-079, SCP-682 and SCP-049 (just to name a few).</p>
                <p>We also like to believe that we are the most sophisticated Research Division on Site-65; We have a dedicated hub which you now see before you, our own Artificial Intelligence Conscript (Pavlov.aic) and very intuitive documentation.</p>
                <p>In addition to research, PSI-5 members are also expected to be able to perform psychological evaluations on other foundation staff if deemed necessary by either the practitioner, Chief/Director of Medicine or a respective Department Director.</p>
            </div>
        </div>
    </body>
    <footer>
        <div class="base">
            <p>This is NOT an official Civil Gamers resource or site.</p>
        </div>
    </footer>
</html>