<!DOCTYPE html>
<html>
    <head>
        <title>PSI-5 Hub</title>

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="The Hub for Site-65's psychology research devision, PSI-5.">
        <meta name="og:site_name" content="Join - PSI-5 Hub">
        <meta name="og:locale" content="en_GB">
        <meta name="og:locale:alternative" content="en_US">
        <meta http-equiv="content-language" content="en">

        <link rel="stylesheet" href="/css/fonts.css">
        <link rel="stylesheet" href="/css/index.css">
        <link rel="stylesheet" href="/css/images.css">

        <link rel="icon" href="/img/psi-5.png">
    </head>
    <body>
        <div class="page-content">
            <div class="top">
                <div class="logo-header">
                    <img src="/img/psi-5.png" id="large-logo" width="134px" >
                    <div class="logobox">
                        <h2>
                            SCP Foundation | Site-65
                            <br>
                            Research Division PSI-5
                        </h2>
                    </div>
                </div>
                <div class="topbar">
                    <a href="/">Home</a>
                    <a href="/about">About</a>
                    <a class="selected" href="/join">Join</a>
                </div>
            </div>
        </div>
    </body>
</html>