@font-face {
    font-family: "Orbitron";
    src: url("../fonts/Orbitron-Bold.ttf");
    font-weight: bold;
}

@font-face {
    font-family: "Orbitron";
    src: url("../fonts/Orbitron-ExtraBold.ttf");
    font-weight: bolder;
}

@font-face {
    font-family: "Orbitron";
    src: url("../fonts/Orbitron-Medium.ttf");
    font-weight: normal;
}

@font-face {
    font-family: "Orbitron";
    src: url("../fonts/Orbitron-SemiBold.ttf");
    font-weight: semi-bold;
}